.FormSimple_config * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
}
.FormSimple_config {
    overflow: auto;
}
.FormSimple_config .version {
    color: #aaa;
    float: right;
    font-weight: bold;
}
.FormSimple_config .field {
    display: flex;
    align-items: center;
    margin: 1em 0 0 0;
}
.FormSimple_config .field > * {
    flex: 1;
    margin-left: 2em;
}
.FormSimple_config .field > div {
    margin-left: 0;
    margin-right: 2em;
}
.FormSimple_config textarea {
    height: 3em;
}
.FormSimple_config strong {
    display: block;
}
.FormSimple_config em {
    color: #999;
    font-weight: normal;
    font-size: .95em;
    font-style: normal;
}
.FormSimple_config em label {
    display: inline;
    font-size: 1em;
    font-weight: normal;
    color: #888;
    padding: 0 .5em;
}
.FormSimple_config .text.left {
    width: 7em;
    margin-right: 2em;
}
.FormSimple_config .submit {
    float: right;
}
