.FormSimple
{
    color: #444;
}

/* FIELD */

.FormSimple .field
{
    width: 450px;
    margin: 0 auto 7px auto;
    clear: both;
    display: block;
}
.FormSimple .field input,
.FormSimple .field textarea,
.FormSimple .field select
{
    padding: 5px;
    width: 200px;
    border: 1px solid silver;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 #fff;
    background: -moz-linear-gradient(bottom, #fff, #fafafa);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #fff), color-stop(1.0, #fafafa));
}

/* ALERTS */

.FormSimple .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.FormSimple .alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.FormSimple .alert.failed {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* FIELD DISABLED */

.FormSimple .field.disabled
{
    color: #888;
    font-style: italic;
}
.FormSimple .field.disabled input,
.FormSimple .field.disabled textarea,
.FormSimple .field.disabled select
{
    font-style: italic;
    color: #bbb;
    background: none;
    background-color: #fafafa;
}

/* DEBUG BOXES */

.FormSimple .debug
{
    border: 1px solid #c33;
    overflow: auto;
    height: 500px;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre;
}

/* FIELD DISABLED */

.FormSimple .field.disabled
{
    color: #888;
    font-style: italic;
}
.FormSimple .field.disabled input,
.FormSimple .field.disabled textarea,
.FormSimple .field.disabled select
{
    font-style: italic;
    color: #bbb;
    background: none;
    background-color: #fafafa;
}

/* LABEL AND ERROR */

.FormSimple .field .title
{
    width: 100px;
    display: inline;
    margin: 0.4em 10px 0 0;
    float: left;
    text-align: right;
    font-size: 0.85em;
}
.FormSimple .field.required .title
{
    font-weight: bold;
}
.FormSimple .field.required .title:after
{
    content: " *";
}
.FormSimple .field.error input,
.FormSimple .field.error textarea
{
    border: 1px solid #d94136;
}
.FormSimple .field .error
{
    margin-left : 10px;
    font-size: 10px;
    color: #d94136;
}

/* SUBMIT */

.FormSimple .submit input,
.FormSimple .field select
{
    width: 212px;
}
.FormSimple .submit input
{
    margin: 10px 0 0 110px;
    text-shadow: 0 1px 0 #fff;
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fff), color-stop(1.0, #eee));
}
.FormSimple .submit input:hover
{
    cursor: pointer;
    background: -moz-linear-gradient(bottom, #ffffff, #ededed);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, #ffffff), color-stop(1.0, #ededed));
}

/* CHECKBOXES AND RADIOS */

.FormSimple .field input[type=radio],
.FormSimple .field input[type=checkbox]
{
    width: 25px;
    height: 20px;
}
.FormSimple .field fieldset
{
    border: none;
    width: 200px;
    padding: 5px 0;
}
.FormSimple .field fieldset .radio,
.FormSimple .field fieldset .checkbox
{
    float: left;
    min-width: 100px;
}

/* CAPTCHA */

.FormSimple .field.captcha input
{
    margin-left: 110px;
}
.FormSimple .field.captcha a
{
    width: 200px;
}

/* FIELDSET */

.FormSimple form > fieldset
{
    margin: 7px auto 15px auto;
    padding: 5px 0 8px 0;
    border: 0px solid #ddd;
    border-top-width: 1px;
    border-bottom-width: 1px;
    -webkit-box-shadow: inset 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 #fff;
    background: -moz-linear-gradient(bottom, #fff, #fafafa);
    background: -webkit-gradient(linear, right bottom, left bottom, color-stop(0.0, #fff), color-stop(1.0, #fafafa));
}
.FormSimple form > fieldset legend
{
    font-size: 1.2em;
    font-style: italic;
}
